@model MvcMusicStore.Models.Album
@{
    Layout = null;
}

<!DOCTYPEhtml>

<html>
<head>
<meta name="viewport" content="width=device-width"/>
<title>Edit</title>
</head>
<body>
<div style="padding: 20px">
<input type="hidden" ng-model="Album.AlbumId"/>
<fieldset>
<legend>Edit Album</legend>
<form name="mainForm" ng-submit="submit()">
<div class="editor-field">

@Html.LabelFor(model => model.GenreId, "Genre") 
</div>
<div class="editor-field">

<select ng-model="Album.GenreId" ng-options="opt.GenreId as opt.Name for opt in LstGenre">
</select>
</div>

<div class="editor-label">
@Html.LabelFor(model => model.ArtistId, "Artist") 
</div>
<div class="editor-field">
<select ng-model="Album.ArtistId" ng-options="opt.ArtistId as opt.Name for opt in LstArtist">
</select>
</div>

<div class="editor-label">
@Html.LabelFor(model => model.Title)
</div>
<div class="editor-field">

<input type="text" ng-model="Album.Title"/>
</div>

<div class="editor-label">
@Html.LabelFor(model => model.Price) 
</div>
<div class="editor-field">
<input type="text" ng-model="Album.Price"/>
</div>

<div class="editor-label">
@Html.LabelFor(model => model.AlbumArtUrl)
</div>
<div class="editor-field">
<input type="text" ng-model="Album.AlbumArtUrl"/>
</div>

<p>
<input type="submit"id="submit"value="Update Record"/>
</p>

</form>

<div>
<button class="btn btn-warning" ng-click="cancel()">Back to List</button>
</div>
</fieldset>

</div>
</body>
</html>
